@model E_Commerce_MVC_Web_UI.Entity.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container py-5">

    
    <h4>Seçili ürün kalıcı olarak silinsin mi?</h4>
    <hr />

    <div class="row">

        <div class="col-md-10  mt-4">
            <div class="me-4 float-start">
                <img src="~/Upload/@Html.DisplayFor(model => model.Image)" width="100" height="100" />
            </div>
            <dl class="dl-horizontal p-4 bg-light">
                <dt class="col-md-5">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd class="col-md-5">
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
        </div>
        
        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="col-md-offset-2 col-md-10 my-5">
                    <input type="submit" value="Sil" class="btn btn-danger float-end" />
                    @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn  btn-light text-secondary float-end me-2" })
                </div>
            </div>
        }
    </div>
</div>